@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Lato', sans-serif;
    /* Melhora a velocidade de renderização inicial */
    font-display: swap;
  }

  h1, h2, h3, .font-serif {
    font-family: 'Playfair Display', serif;
    /* Garante que o título não fique invisível enquanto a fonte carrega */
    font-display: swap;
  }
}