---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import AuthorCamila from '../components/AuthorCamila';
import CookieConsent from '../components/CookieConsent';

const pageTitle = "Camila Torres | Especialista em Viagens em Família - Viva o Roteiro";
---

<Layout title={pageTitle}>
  <Header client:load />
  <main>
    <AuthorCamila client:load />
  </main>
  <Footer />
  <CookieConsent client:load />
</Layout>