---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import Benefits from '../components/Benefits';
import WhyUs from '../components/WhyUs';
import BlogSection from '../components/BlogSection';
import Footer from '../components/Footer';
import CookieConsent from '../components/CookieConsent';
---

<Layout title="Viva o Roteiro | Paris em 3 Dias">
	<Header client:load />
	<main>
		<Hero />
		<Benefits />
		<WhyUs />
		<BlogSection />
	</main>
	<Footer />
	<CookieConsent client:load />
</Layout>