---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import Terms from '../components/Terms';
import CookieConsent from '../components/CookieConsent';

const pageTitle = "Termos de Uso | Viva o Roteiro";
---

<Layout title={pageTitle}>
  <Header client:load />
  
  <main>
    <Terms client:load />
  </main>

  <Footer />
  <CookieConsent client:load />
</Layout>